<div fxFlex="100" fxLayout="column">
    <h2>
        Portfolio
    </h2>
    <p>Some of the projects I've worked on can be found below. Not all projects can be found here, simply because they
        are classified.</p>
    <div fxLayoutAlign="center" fxFlex="100">
        <mat-card>
            <mat-card-title>{{portfolio[index].title}}</mat-card-title>
            <mat-card-subtitle><b>Employer:</b> {{portfolio[index].employer}}</mat-card-subtitle>
            <img mat-card-image src="{{portfolio[index].imageURL}}" alt="Photo of project">
            <mat-card-content>{{portfolio[index].description}}</mat-card-content>
            <mat-card-actions>
                <button mat-icon-button aria-label="Back button" (click)="previous()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <span fxFlex></span>
                <button mat-icon-button aria-label="Next button" (click)="next()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>