<div fxFlex="100" fxLayout="row" fxLayout.xs="column">
    <div id="container" fxFlex="50" fxFlex.xs="100">
        <h2>
            Hello World
        </h2>
        <p>My name is <b>Remco Vogelzang</b> and I am {{getAge()}} years old. I've studied Computer Science at
            <a href="https://www.uu.nl/" class="link1" target="_blank">Utrecht
                University</a>, The Netherlands. I develop software (including games) and websites, such as this site!
            Currently, I work at <a href="http://www.railcube.com/" class="link1" target="_blank">RailCube</a>, located
            in
            Rotterdam. You can take a look at my portfolio to see some projects I've worked on.
        </p>
    </div>
    <div fxFlex.xs="100" fxFlex="50" fxLayoutAlign.xs="center" fxLayoutAlign="end" class="LI-profile-badge"
        data-version="v1" data-size="large" data-locale="en_EN" data-type="vertical" data-theme="light"
        data-vanity="rvogelzang1998"><a class="LI-simple-link"
            href='https://nl.linkedin.com/in/rvogelzang1998?trk=profile-badge'>Remco
            Vogelzang</a>
    </div>
</div>