<div id="container" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
    <h2>
        Hello World
    </h2>
    <p>My name is <b>Remco Vogelzang</b> and I am {{getAge()}} years old. I've studied Computer Science at
        <a href="https://www.uu.nl/" class="link1" target="_blank">Utrecht
            University</a>, The Netherlands. I develop software (including games) and websites, such as this site!
        Currently, I work at <a href="http://www.railcube.com/" class="link1" target="_blank">RailCube</a>, located in
        Rotterdam. You can take a look at my portfolio to see some projects I've worked on.
    </p>
    <p>For more details, see my
        <a href="https://www.linkedin.com/in/rvogelzang1998/" target="_blank" class="link2">LinkedIn page</a>.</p>
</div>