<div id="mainContainer" fxLayout="column">
    <mat-toolbar fxFlex="56px">
        <span fxFlex></span>
        <a [routerLink]="['/index/']">Home</a>
        <a [routerLink]="['/portfolio/']">Portfolio</a>
        <a [routerLink]="['/courses/']">Courses</a>
        <a [routerLink]="['/skills/']">Skills</a>
    </mat-toolbar>
    <div id="contentContainer" fxFlex>
        <router-outlet></router-outlet>
    </div>
    <footer fxFlex="25px" fxFlexFill>Copyright &copy; Remco Vogelzang 2018 - {{getYear()}}</footer>
</div>
