/* Author: Remco Vogelzang */
/* Semantic elements */
body {
    margin: auto;
    min-width: 980px;
    width: 100%;
    font-family: sans-serif;
    padding-top: 60px;
    padding-bottom: 32px;
    background: linear-gradient(to right, rgba(173, 216, 230, 0.8) , rgba(211, 211, 211, 0.8));
}

nav {
    height: 60px;
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0;
}

nav a {
    text-decoration: none;
    color: white; 
    font-size: 40px; 
    font-weight: 800;
    margin: 0 20px;
}

footer {
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    position: fixed;
    bottom: 0;
}

nav, footer {
    background: linear-gradient(to right, rgb(173, 216, 230) , rgb(211, 211, 211));
}

/* Gallery */
.gallery-large {
    width: 1200px;
    height: 200px;
}

.gallery-small {
    width: 345px;
    height: 300px;
}

.gallery-large, .gallery-small {
    border: 1px solid grey;
    background-color: rgba(211, 211, 211, 0.2);
    margin: 0 5px 10px 0;
    float: left;
    overflow: auto;
}

.gallery-large img {
    width: 316px;
    height: 200px;
    float: right;
}

.gallery-large p, .gallery-small p {
    margin-top: 10px;
}

.employer, .where {
    font-style: italic;
}

/* General text style */
article {
    padding: 5px;
}

article h2 {
    font-size: 30px; 
    font-weight: 800; 
    line-height: 36px; 
    margin: 10px 5px 5px 5px;
}

article h3 {
    font-size: 25px; 
    font-weight: 600; 
    line-height: 25px; 
    margin: 10px 5px 0 5px;
}

article h5 {
    font-size: 15px; 
    font-weight: 400; 
    line-height: 15px; 
    margin: 10px 5px 0 5px;
}

article p {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 5px;
}

ul {
    margin: 2px 5px;
    padding-left: 0;
}

.frontpage {
    margin: 10px;
    width: 800px;
}

.link1 {
 text-decoration: none;
 font-style: italic;
 color: black;
}

.link2 {
    text-decoration: none;
    color: rgb(0, 110, 255);
}

/* Skills Progress Bars */
li {
    padding: 2px;
    width: 400px;
    background-color: grey;
    list-style: none;
    margin: 5px 0;
    border-radius: 50px;
    text-align: center;
}

.greenbackground {
    background:linear-gradient(to right, green 85%, grey 100%);
    color: white;
}

.yellowbackground {
    background: linear-gradient(to right, yellow 55%, grey 65%);
    color: black;
}

.redbackground {
    background: linear-gradient(to right, red 20%, grey 30%);
    text-align: left;
    padding-left: 5px;
    color: white;
}

/* Other */
.skills {
    overflow: auto;
    float: left;
}