<h2>
    {{'Skills' | translate}}
</h2>
<p>{{'SkillsDescription' | translate}}</p>
<div fxLayout="row wrap">
    <mat-card fxFlex fxFlex.xs="100">
        <mat-card-title>Software Development</mat-card-title>
        <ul>
            <mat-card-subtitle>Much Experience</mat-card-subtitle>
            <li>C# / .NET</li>
            <li>Visual Studio</li>
            <li>Git</li>
            <li>Unity</li>
            <li>Windows Forms</li>
            <li>Arduino</li>
            <li>Unit testing</li>
            <li>Design patterns</li>
        </ul>
        <ul>
            <mat-card-subtitle>Some Experience</mat-card-subtitle>
            <li>MonoGame</li>
            <li>OpenTK</li>
            <li>OpenGL</li>
            <li>Haskell</li>
            <li>OpenCL</li>
            <li>R</li>
        </ul>
    </mat-card>
    <mat-card fxFlex fxFlex.xs="100">
        <mat-card-title>Mobile Development</mat-card-title>
        <ul>
            <li>Xamarin</li>
            <li>XAML</li>
        </ul>
    </mat-card>
    <mat-card fxFlex fxFlex.xs="100">
        <mat-card-title>Web Development</mat-card-title>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>AJAX</li>
            <li>Jade</li>
            <li>TypeScript</li>
            <li>Angular</li>
        </ul>
    </mat-card>
    <mat-card fxFlex fxFlex.xs="100">
        <mat-card-title>Database Development</mat-card-title>
        <ul>
            <li>SQL</li>
            <li>SQLite</li>
            <li>phpMyAdmin</li>
            <li>MySQL Workbench</li>
            <li>Microsoft SQL Server</li>
        </ul>
    </mat-card>
    <mat-card fxFlex fxFlex.xs="100">
        <mat-card-title>Other</mat-card-title>
        <ul>
            <li>Microsoft Office</li>
        </ul>
    </mat-card>
</div>